html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #CCCCCC;
}

.navbar-default {
    background-color: #B5B5B5;
    border-color: #969696;
}

li {   
    cursor: pointer;  /* fix FB login to have pointer cursor */
    cursor: hand; 
}


.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}


.searches {
  display: flex;
  width: 61vw;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  flex-wrap: wrap;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.item1 {
  width: 65%;
  height: 35px;
  margin-bottom: 10px;

}
.item2 {
  width: 32%;
  height: 35px;
  margin-bottom: 10px;
}
.item1 {
  margin-right: 10px;
}
.item2 {
  margin-left: 10px;

}

.item3 {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.item4 {
  width: 100%;
  margin-right: 10px;
}


.form {
	display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 65px 10px;
}

.btn {
  width: 200px;
  border-radius: 0px;
}

.yelp-img {
    height: 185px;
    border: 2px solid #BDBDBD;; 
    border-radius: 2px;
    margin-bottom: 10px;
}

.results {
    border: 2px solid #BDBDBD; 
    border-radius: 2px;
}

.move-right {
    margin-left: 15px;
}

.outer-square {
    padding: 30px;
}

.inner-square {
  height: 400px;
  width: 400px;
  background-color: #fff;
  padding: 15px 22px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #B5B5B5;
}

.footer .container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer .container p {
   margin-top: 20px;
}

.footer .container p a {
   color: #777;
} 

.footer .container p a:hover {
   color: #333;
} 

.form-control {
  width: 65%;
  margin: 10px auto;
  border-radius: 0px;
}

@media only screen and (max-width: 800px) {
    .pull-right {
    float: left;
    }
}